**/node_modules/
**/.next/
**/.env
**/.env.local
**/.env.development
**/.env.production
.DS_Store
**/dist/
**/build/
**/*.log

# Firebase Secrets
serviceAccountKey.json
google-services.json

# Backup & archive files
*.tar.gz
*.zip
*_backup/
*_backup.tar.gz
